<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Alda Martin Muñoz y Lucas María-Tomé Laverón.
    <br>
    <br>
    La práctica está alojada en el repositorio de GitHub: <a href="https://www.github.com/aldaMarMu/practica51"> github.com/aldaMarMu/practica51 </a>
</p>

<img src="/images/alda.jpg" />
<img src="/images/lucas.jpg" />
