<p> 
	Este portal está dedicado al alojamiento de quizes y un mecanismo de comprobación de respuestas a los mismos.
	Un quiz es una adivinanza con solución única que tendrá asignada una barra de texto donde introducir la respuesta deseada. 
</p>
